
* {box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    height: auto;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0px 16px;
    line-height: 54px;
    background: none;
   
}

.nav_row  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
    
}

.nav_row ul {
   display: flex;
   padding: 0;
}


.left_side ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.left_side ul li {
    padding: 4px 0;
    font-size: 13px;
    font-weight: 900;
    cursor: pointer;
}

.left_side ul li a {
    text-decoration: none;
}

.left_side ul li:hover {
    color: #7AA204;
}

.left_side ul li i {
    color: black;
    padding: 4px 0;
    font-size: 13px;
    font-weight: 500;
}

.left_side ul li i:hover {
    color: #7AA204;  
}

 .logo img {
    width: 150px;
    height: 30px;
    margin-left: 14px;  
    margin-right: 80px;
    max-width: 100%;
    height: auto;
 }

 .right_side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
 }

 .right_side input, button {
    border: none;
    outline: none;
    background: none;
 }

 .right_side input  {
    padding: 0 38px 0 0;
    font-size: 14px;
 }

 .right_side button {
    cursor: pointer;
 }

 .right_side button i {
    font-size: 21px;
    color: #7e7e7e;
 }

 .right_side button i:hover {
    color: #7AA204;
 }

 .home_menu {
    position: relative;
    
 }

 .home_menu:hover  #sub_menu {
    visibility: visible;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.821);
    transform: translateY(-10px);
 }

 #sub_menu {
    position: absolute;
    width: 300px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease 0s;
    box-shadow: -2px 2px 81px -27px rgba(0, 0, 0, .3);
 }

 #sub_menu li {
    text-transform:capitalize;
    color: #5F5B5A;
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 22px;
    font-size: 15px;
    color: #7e7e7e;
 }

 #sub_menu li a:hover{
    color: #7AA204;
 }

 #shop .container {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .slide {
    display:flex
 }


 .slide_photo img {
   /*  width: 100%;
    height: 100%; */
    max-width: 100%;
    height: auto;
 }

 
 
.row {
    display: flex;
    flex-direction: column;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #E1E1E1;
    margin: 100px 150px;
}
.left_welc  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.welcome .left_welc img {
  padding: 30px !important;
}


.right_welc .heading3 {
    color: #7AA204;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: start;
    padding-left: 50px;
    padding-bottom: 10px;
}

.right_welc .heading2 {
    font-size: 40px;
    font-family: Lora, serif !important; 
    color: #323232 !important;
    align-items: center;
    text-align: start;
    padding-left: 50px;
}

.right_welc .paragh {
    align-items: center;
    padding: 20px 50px 30px 50px;
}

.right_welc .paragh p {
    font-size: 14px;
    text-align: start;
    line-height: 1.7
}

.right_welc .sign {
   padding: 0 50px;
}

.right_welc p, span {
    font-size: 14px;
    text-align: start;
}

.right_welc span {
    font-weight: 500;
    padding-left: 50px;
}




.products_img {
    width: 266px;
    height: 266px;
   
}
 .heading {
    font-size: 40px;
    font-family: Lora, serif !important;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.5px;
 }
 .short_line {
    border-bottom: 1px solid black;
 }

 .underline {
    text-align: center;
    color: white;
    text-decoration: underline;
    text-decoration-color: #222222;
    font-size: 19px;
 }

 .details {
  text-align: center; 
 }
 
 .money {
    padding: 10px;
 }

 .money .onsale {
    color: #79a206;
    font-size: 15px;
    font-weight: 500;
    padding-right: 5px;
 }

 .money .price {
    font-size: 12px;
    text-decoration: line-through;
    color: #666666;
    
 }

.details {
    padding: 20px;
}

 .details label {
    font-size: 14px;
    color: #323232;
 }


 .cards {
    display: inline-block;
    margin-left: 26px; 
    margin-top: 40px;
    
 }

 .card {
    display: inline-block;
    padding: 0 4px;
 }

 .review {
    display: inline;
 }

 .header {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    font-family: Lora, serif !important; 
 }

 .header h2 {
    padding-top: 50px;
 }

.comment {
    display: inline;
    text-align: center;
}

.comment p {
    font-size: 17px;
    font-style: italic;
    text-align: center;
    line-height: 30px;
    padding: 20px;
}

#nirob {
    font-size: 14px;
    font-weight: 500;
}

.brands {
    display: flex;
    justify-content: center;
}

.brands img {
    align-items: center;
    padding: 20px;
}

.subscribtion {
   display: inline;
   text-align: center;
   font-size: 40px;
   font-family: Lora, serif !important;
}

.subscribtion span {
   color: #7AA204;
   font-size: 40px;
   font-family: Lora, serif !important;
}

.subscribe {
   display: flex;
   justify-content: center;
   padding: 20px;
   font-family: Lora, serif !important; 
   font-weight: 400;
   
}
.subscribe input {
   padding: 0 50px;
   outline: none;
   border: none;
}

.email_btn i {
   font-size: 15px;
   align-self: start;
}

.email_btn {
   padding: 0 30px;
   align-items: start;
}

.btn {
   border-bottom: 1px solid black;
   padding: 10px;
}
.btn button {
   font-size: 14px;
   font-weight: 500;
   cursor: pointer;
   color: #7e7e7e;
}
.btn button:hover {
   color: #7AA204;
}

.row {
display: flex;
flex-wrap: wrap;
}

.schedule {
   font-size: 14px;
   font-weight: 400;
}

.footer_row {
   display: flex;
   border-top: 1px solid #ebebeb;
   margin-top: 60px;
   padding: 50px;
   justify-content: space-evenly;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4, .footer-col-5 {
   font-size: 14px;
   font-weight: 900;
   padding: 0 20px;
   color: #323232;
}

.footer-col-1 p {
   font-size: 14px;
   text-align: start;
   line-height: 30px;
   font-weight: 300;
}

.footer-col-2 a {
   text-decoration: none;
   display: block;
   line-height: 30px;
   color: #7e7e7e;
   font-size: 15px;
   font-weight: 900;

}

.footer-col-2 a:hover {
color: #7AA204;
}

.footer-col-4 a:hover {
   color: #7AA204;
}

.footer-col-5 a:hover {
   color: #7AA204;
}

.footer-col-3 img {
   width: 150px;
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.footer_menu ul li {
   display: inline;
   padding: 10px;
}
.footer_menu ul li a {
   text-decoration: none;
   color: #7e7e7e;
   font-size: 14px;
   line-height: 60px;
   text-align: center;
}

.footer_menu ul li a:hover {
   color: #7AA204;
}

.footer_social ul li {
   display: inline;
   text-align: center;
}

.footer_social ul li a {
   text-decoration: none;
   color: #7e7e7e;
   font-size: 20px;
   text-align: center;
}
.footer_social i {
   justify-content: space-between;
   padding: 25px;
}

.footer_social i:hover {
   color: #7AA204;
}

.footer_app img {
   padding: 10px;
   width: 165px;
   display: inline;
}

.footer-col-4 a {
   text-decoration: none;
   display: block;
   color: #7e7e7e;
   font-size: 15px;
   line-height: 30px;
   text-align: start;
}

.footer-col-5 a {
   text-decoration: none;
   display: block;
   color: #7e7e7e;
   font-size: 15px;
   line-height: 30px;
   text-align: start;
}

@media (max-width: 799px) {
   
   .welcome .left_welc img {
      padding-right: 50px !important;
  }
}